<a href="https://colab.research.google.com/github/woodardmadeline/KeatonParkinsonResume/blob/master/starter_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')

In [ ]:
#campaign_na =(campaign
 #   .replace('unknown', np.nan, regex=True))
#campaign = campaign_na.dropna()
from imblearn.over_sampling import RandomOverSampler
# https://imbalanced-learn.readthedocs.io/en/stable/user_guide.html


# Let's over sample the minority class, which samples with replacement until the
# majority (died) and the minority (survived) are equal
ro = RandomOverSampler()

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
# new data with only pertaining data

#df.join(pd.get_dummies(df['type']))

campaignEncoded = pd.get_dummies(campaign, columns=['job','marital','education','default', 'housing', 'loan','contact','month','day_of_week','poutcome'])
campaignEncoded

       age  campaign  ...  poutcome_nonexistent  poutcome_success
0       56         1  ...                     1                 0
1       57         1  ...                     1                 0
2       37         1  ...                     1                 0
3       40         1  ...                     1                 0
4       56         1  ...                     1                 0
...    ...       ...  ...                   ...               ...
41183   73         1  ...                     1                 0
41184   46         1  ...                     1                 0
41185   56         2  ...                     1                 0
41186   44         1  ...                     1                 0
41187   74         3  ...                     0                 0

[41188 rows x 63 columns]

In [ ]:
y = campaignEncoded['y']
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [ ]:
X = campaignEncoded.drop(['y', 'poutcome_nonexistent',	'poutcome_success','previous','emp.var.rate','cons.price.idx','cons.conf.idx'], axis = 1)
X

       age  campaign  pdays  ...  day_of_week_tue  day_of_week_wed  poutcome_failure
0       56         1    999  ...                0                0                 0
1       57         1    999  ...                0                0                 0
2       37         1    999  ...                0                0                 0
3       40         1    999  ...                0                0                 0
4       56         1    999  ...                0                0                 0
...    ...       ...    ...  ...              ...              ...               ...
41183   73         1    999  ...                0                0                 0
41184   46         1    999  ...                0                0                 0
41185   56         2    999  ...                0                0                 0
41186   44         1    999  ...                0                0                 0
41187   74         3    999  ...                0                0                 1

[41188 rows x 56 columns]

In [ ]:
X_new, y_new = ro.fit_resample(X, y)

# Convert this to a dataframe and check the counts, now they're equal, because
# we have a bunch of duplicate survivors
campaignEncoded = pd.DataFrame(y_new)
campaignEncoded.value_counts()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

yes    36548
no     36548
dtype: int64

In [ ]:
# Import and use the train_test_split() function to split the X and y
# dataframes into training and test sets.
#
# The training data should contain 80% of the samples and
# the test data should contain 20% of the samples.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=.2)

In [ ]:
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

tree_clf = tree.DecisionTreeClassifier()
tree_clf.fit(X_train, y_train)
y_pred = tree_clf.predict(X_test)


print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9446648426812585

In [ ]:
import altair as alt

feature_dat = pd.DataFrame({
    "values": tree_clf.feature_importances_,
    "features": X_train.columns
    }) 
feature = alt.Chart(feature_dat.query('values > .02'), title='Most Valuable Features').encode(
    alt.X('values', title= 'Rank Value'), 
    alt.Y('features', sort = "-x", title= 'Features')).mark_bar()

AttributeError: ignored

In [ ]:
print(metrics.confusion_matrix(y_test, y_pred))



tree = metrics.plot_confusion_matrix(tree_clf, X_test, y_test)

print(metrics.classification_report(y_test, y_pred))